[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking

Environment="JAVA_HOME=/usr/lib/jvm/java-1.11.0-openjdk-amd64"
Environment="CATALINA_PID=/opt/apache-tomcat-10.0.20/temp/tomcat.pid"
Environment="CATALINA_Home=/opt/apache-tomcat-10.0.20"
Environment="CATALINA_BASE=/opt/apache-tomcat-10.0.20"
Environment="CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC"
Environment="JAVA_OPTS=-Djava.security.egd=file:///dev/urandom"

ExecStart=/opt/apache-tomcat-10.0.20/bin/startup.sh
ExecStop=/opt/apache-tomcat-10.0.20/bin/shutdown.sh

User=tomcat
Group=tomcat
RestartSec=10
Restart=always

[Install]

WantedBy=multi-user.target